<main class="main">
  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="errorMessage && !loading" class="error-message">
    {{ errorMessage }}
  </div>

  <section class="section">
    <h1 class="title" *ngIf="!loading && !errorMessage">Polos {{company.name}}</h1>
    <h6 class="description"*ngIf="!loading && !errorMessage">
      Exibindo detalhes do polo {{company.name}}#{{company.id}}
    </h6>
  </section>

  <section class="form-content" *ngIf="!loading && !errorMessage" >
    <p>Detalhes do endereço</p>

    <div class="form-group">
      <mat-form-field class="width-full">
        <mat-label class="label">CEP</mat-label>
        <input matInput placeholder="08030-190"
        [(ngModel)]="company.cep"
        >
      </mat-form-field>

      <mat-form-field class="street">
        <mat-label class="label">Nome da Rua</mat-label>
        <input matInput placeholder="R. Grapirá"
        [(ngModel)]="company.street">
      </mat-form-field>

      <mat-form-field class="width-full">
        <mat-label class="label">Bairro</mat-label>
        <input matInput placeholder="Vila Prudente"
        [(ngModel)]="company.neighborhood">
      </mat-form-field>

      <mat-form-field class="width-full">
        <mat-label class="label">Estado</mat-label>
        <input matInput class="width-full" placeholder="SP"
        [(ngModel)]="company.state">
      </mat-form-field>

      <mat-form-field class="width-full">
        <mat-label class="label">Cidade</mat-label>
        <input matInput placeholder="São Paulo"
        [(ngModel)]="company.city">
      </mat-form-field>
    </div>
  </section>

  <section class="form-content" *ngIf="!loading && !errorMessage" >
    <p>Detalhes da Empresa</p>

    <div class="form-group">
      <mat-form-field class="width-full">
        <mat-label class="label">Nome</mat-label>
        <input matInput placeholder="Nome da Empresa"
        [(ngModel)]="company.name">
      </mat-form-field>

      <mat-form-field class="width-full">
        <mat-label class="label">Business </mat-label>
        <input matInput placeholder="Financeiro"
        [(ngModel)]="company.business">
      </mat-form-field>

      <mat-form-field class="width-full">
        <mat-label class="label">Valuation</mat-label>
        <input matInput placeholder="R$ 1.000.000,00"
        [(ngModel)]="company.valuation">
      </mat-form-field>

      <mat-form-field class="width-full">
        <mat-label class="label">CNPJ</mat-label>
        <input matInput placeholder="00.000.000/0000-00"
        [(ngModel)]="company.cnpj">
      </mat-form-field>

      <mat-form-field class="width-full">
        <mat-label class="label">Ativo?</mat-label>
        <select matNativeControl [(ngModel)]="company.active">
          <option value="true">Sim</option>
          <option value="false">Não</option>
        </select>
      </mat-form-field>
    </div>
  </section>

  <footer class="footer" *ngIf="!loading && !errorMessage" >
    <button
      mat-raised-button
      class="button back"
      (click)="back()"
    >
      Voltar
    </button>

    <button
      mat-raised-button
      class="button save"
      (click)="save()"
    >
      Salvar
    </button>
  </footer>
</main>
